@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:"Jost";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background: #fff;
    width: 0.7rem;
}

html::-webkit-scrollbar-thumb {
    background: #000;
}

:root {
    --main-color: #fff;
    --main-color-hover: #cacaca;
    --dark-color: #000;
    --bg-color: #19191a;
    --gray-color: #333;
    --text-color: #d1d1d1;
    --max-width: 1280px;
}

body {
    background: repeating-linear-gradient(var(--gray-color), var(--bg-color), var(--gray-color));
    color: var(--text-color);
}

#home {
    transition: all 0.3s ease-in;
}

#home.light {
    background: var(--main-color);
    color: var(--text-color);
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: var(--max-width);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0008;
    backdrop-filter: blur(10px);
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

nav.light {
    background: #fff;
}

nav .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    column-gap: 3rem;
}

.navbar-brand a {
    font-size: 1.3rem;
    color: var(--main-color);
    text-decoration: none;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

nav.light .navbar-brand a {
    color: var(--dark-color);
}

.navbar-brand svg {
    margin: 0 0.5rem 0 0;
}

.navbar-brand span {
    background: var(--main-color);
    color: var(--dark-color);
    font-weight: 600;
    padding: 0 0 0 0.3rem;
}

nav.light .navbar-brand span {
    background: var(--bg-color);
    color: var(--main-color);
}

nav .nav-group {
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

nav .themeToggle {
    background: var(--main-color);
    border-radius: 50px;
    min-width: 3rem;
    height: 1.6rem;
    position: relative;
    cursor: pointer;
}

nav.light .themeToggle {
    background: #e6e6e6;
}

nav .themeToggle .thumb {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    width: 2.3rem;
    height: 2.3rem;
    background: #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

nav.light .themeToggle .thumb {
    right: 0;
    left: unset;
    background: orange;
    transform: translateX(50%) translateY(-50%);
}

nav .themeToggle:hover svg {
    rotate: 180deg;
}

.themeToggle .thumb svg {
    color: var(--main-color);
    font-size: 0.9rem;
    transition: 0.3s;
}

nav .navbar-links {
    display: flex;
    position: relative;
    border-radius: 10px;
    font-weight: 500;
}

nav .navbar-links .animation {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background: var(--main-color);
    width: 80px;
    border-radius: 10px;
    transition: 0.4s;
}

nav.light .navbar-links .animation {
    background: var(--dark-color);
}

nav .navbar-links .nav-link {
    color: var(--dark-color);
    text-decoration: none;
    text-align: center;
    padding: 0.6rem 0;
    z-index: 1;
}

nav.light .navbar-links .nav-link {
    color: var(--dark-color) !important;
}

nav .navbar-links .nav-link.active {
    color: var(--dark-color) !important;
}

nav.light .navbar-links .nav-link.active {
    color: var(--main-color) !important;
}

nav .navbar-links .nav-link:not(:hover) {
    color: var(--main-color);
}

nav .navbar-links .nav-link:hover {
    color: var(--main-color-hover);
}

nav .navbar-links .nav-link:nth-child(1) {
    width: 80px;
}

nav .start-home,
.nav-link:nth-child(1):active~.animation {
    width: 80px;
    left: 0;
}

nav .navbar-links .nav-link:nth-child(2) {
    width: 100px;
}

nav .start-home,
.nav-link:nth-child(2).active~.animation {
    width: 100px;
    left: 80px;
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    margin: 3.5rem;
    background: var(--main-color);
    color: var(--dark-color);
    z-index: 999;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px #0009;
}

.scroll-to-top-btn svg {
    font-size: 2rem;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.search-form .search-ic {
    color: var(--main-color-hover);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 1rem;
    font-size: 1.3rem;
}

.search-form .search-bar {
    background: #fff2;
    color: var(--text-color);
    border: 0;
    padding: 0.6rem 2rem 0.6rem 3rem;
    border-radius: 10px 0 0 10px;
    font-size: 1rem;
    width: 100%;
    transition: 0.3s ease-in-out;
}

nav.light .search-form .search-bar {
    background: #fff5;
    box-shadow: 0 0 10px #0002;
}

.search-form .search-bar::placeholder {
    color: var(--main-color-hover);
}

nav.light .search-form .search-ic,
nav.light .search-form .search-bar::placeholder,
nav.light .search-form .search-bar {
    color: var(--bg-color);
    font-weight: 500;
}

.search-form .submit-btn {
    background: var(--main-color);
    border: 0;
    padding: 0.6rem 1.5rem;
    border-radius: 0 10px 10px 0;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 3px 3px #0001;
    transition: 0.2s ease-out;
    height: fit-content;
}

nav.light .search-form .submit-btn {
    background: var(--bg-color);
    color: var(--main-color);
}

.search-form .submit-btn:hover {
    padding: 0.6rem 2rem;
}

header {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

#home.light header {
    padding: 0 2rem;
}

header.other {
    margin: 0 0 4rem;
}

#home.light header.other {
    padding: 0;
}

header.other .header-card-wrapper,
#home.light .header-card-wrapper {
    border-radius: 50px;
}

header .header-card-wrapper {
    display: flex;
}

header.other .header-card {
    height: 35rem;
}

header .header-card {
    width: 100%;
    height: 100vh;
    min-height: 30rem;
    overflow: hidden;
    color: var(--main-color);
}

.header-card .header-movie-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.header-card .header-movie-banner .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000, #0001);
    z-index: 1;
}

#home.light .header-card .header-movie-banner .overlay {
    background: linear-gradient(to right, #0008, #0001);
}

.header-card .header-movie-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(70%);
}

header.other .favorite-btn button {
    margin: 1.5rem;
}

header .favorite-btn button {
    width: 2.7rem;
    height: 2.7rem;
    padding: 0.3rem 0 0 0;
    margin: 5rem 1.5rem;
    font-size: 1rem;
}

header .header-card .header-movie-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0 6rem;
    z-index: 2;
}

.header-card .header-movie-info .movie-tag {
    font-size: 1.2rem;
    margin: 0 0 2rem;
    background: var(--main-color);
    color: var(--dark-color);
    width: fit-content;
    padding: 0.3rem 0.7rem;
}

.header-card .header-movie-info .header-movie-title {
    font-size: 3rem;
    margin: 0 0 2rem;
}

.header-card .header-movie-info .header-overview {
    font-size: 1.2rem;
    margin: 0 0 2rem;
    line-height: 30px;
    max-width: 47rem;
}

.header-card .header-movie-info .header-release-date {
    font-size: 1.4rem;
    letter-spacing: 3px;
}

header .swiper-button-next,
header .swiper-button-prev {
    margin: 0 1.5rem;
    background: transparent;
    color: var(--main-color);
}

header .swiper-button-prev:after,
header .swiper-button-next:after {
    font-size: 2rem;
}

header .swiper-pagination {
    margin: 0 0 1rem;
}

header .swiper-pagination-bullet {
    transition: 0.4s;
    opacity: 0.3;
    width: 0.45rem;
    height: 0.45rem;
    background: var(--main-color);
    margin: 0 5px !important;
}

header .swiper-pagination-bullet-active {
    background: var(--main-color);
    width: 2.5rem;
    border-radius: 50px;
    opacity: 1;
}

.error-message, .loading {
    font-size: 1.2rem;
    width: fit-content;
    margin: 6rem auto;
    padding: 0 2rem;
}

.error-message.searching, .loading.searching {
    margin: 2rem auto;
}

.error-message {
    color: red;
    font-size: 1.1rem;
}

.movie-categories {
    padding: 3rem 0 0;
}

.movie-categories .movie-category {
    font-weight: 600;
    background: var(--dark-color);
    color: var(--main-color);
    width: fit-content;
    letter-spacing: 5px;
    border-radius: 50px;
}

#home.light .movie-categories .movie-category {
    box-shadow: 0 0 10px #0007;
}

.movie-categories .movie-category span {
    background: var(--dark-color);
    color: var(--main-color);
    padding: 0.5rem 1rem;
}

.movie-categories .movie-category span.white {
    background: var(--main-color);
    color: var(--dark-color);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.movie-cards-wrapper {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
}

.search-results-heading {
    text-align: center;
    margin: 2rem 0 3rem;
    font-size: 1.3rem;
}

.back-btn {
    margin: 2rem 0 0;
    padding: 3rem 0 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    color: var(--main-color);
    width: fit-content;
}

.back-btn:hover {
    color: var(--main-color-hover);
}

.back-btn .ic {
    font-size: 1.3rem;
}

.searched-movies-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.movie-cards-wrapper .swiper-wrapper {
    margin: 0 7rem;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--dark-color);
    top: 50%;
    transform: translateY(-50%);
    background: var(--main-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 1rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.3rem;
    font-weight: 600;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.5;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.movie-card {
    background: var(--dark-color);
    perspective: 1000px;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s;
    border-radius: 20px;
}

#home.light .movie-card {
    background: var(--main-color);
    color: var(--dark-color);
    border: 1px solid #0002;
}

#home.light .movie-card:hover {
    box-shadow: 0 10 10px #0002;
}

.movie-card:hover {
    transform: rotateY(180deg);
}

.movie-card .movie-front,
.movie-card .movie-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 20px;
}

.movie-card .movie-front img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.movie-card .movie-back {
    position: absolute;
    transform: rotateY(180deg);
    top: 0;
    background: var(--main-color);
    color: var(--dark-color);
}

.movie-card .movie-banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.movie-card .movie-banner .overlay,
.movie-card .movie-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.movie-card .movie-banner .overlay {
    background: linear-gradient(to bottom, #0000, #111);
    z-index: 1;
    backdrop-filter: blur(5px) brightness(50%);
}

.movie-card .movie-banner img {
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    transform: scale(1.1);
}

.movie-card .movie-banner .movie-overview {
    z-index: 1;
    color: var(--main-color);
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.movie-banner .favorite-btn {
    transition: 0.2s;
}

.movie-banner .favorite-btn.active {
    opacity: 1;
}

.favorite-btn button {
    background: var(--bg-color);
    border-radius: 50%;
    border: 0;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.2rem 0 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 0.8rem;
    cursor: pointer;
    font-size: 0.7rem;
    color: var(--text-color);
}

.favorite-btn button:hover,
.favorite-btn.active button {
    color: red;
}

.favorites .movie-banner:not(:hover) .favorite-btn.active {
    opacity: 0;
    pointer-events: none;
}

.movie-banner .prev-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 1.7rem;
    cursor: pointer;
    background: var(--main-color);
    color: var(--dark-color);
    transition: 0.3s;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-banner .prev-btn .ic {
    transition: 0.2s;
}

.movie-banner .prev-btn:hover .ic {
    transform: scale(1.1);
}

.movie-card .movie-info {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.movie-card .movie-info .movie-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 0.78rem;
    line-height: 25px;
}

.movie-card .movie-info .release-date {
    color: var(--main-color-hover);
    font-size: 1rem;
    letter-spacing: 3px;
}

#home.light .movie-info .release-date {
    color: var(--dark-color);
    font-weight: 500;
}

.movie-card .movie-info .lang {
    background: var(--gray-color);
    padding: 0.5rem;
    line-height: 10px;
    height: fit-content;
    border-radius: 0.2rem;
}

#home.light .movie-info .lang {
    color: var(--main-color);
}

.favorites {
    margin: 7rem 0 0;
}

.favorites .no-favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
    background: var(--gray-color);
    width: fit-content;
    padding: 3rem;
    margin: auto;
}

.favorites .no-favorites h1 {
    font-size: 2rem;
    color: var(--main-color);
}

.favorites .no-favorites p {
    font-size: 1rem;
}

.favorites .no-favorites span {
    color: var(--main-color-hover);
    cursor: pointer;
    text-decoration: underline;
}

.favorites .no-favorites span:hover {
    color: var(--main-color);
}

.favorites .favorite-movies-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--dark-color);
    flex-direction: column;
}

footer .container:nth-child(1) {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem 0;
}

footer .container:nth-child(2) {
    border-top: 1px solid var(--gray-color);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

footer .bottom-info span {
    font-size: 0.9rem;
    color: #999;
}

footer .org-info .footer-des {
    margin: 1rem 0;
    line-height: 30px;
}

footer .org-info .footer-ics {
    font-size: 1.4rem;
    display: flex;
    gap: 1rem;
}

.org-info .footer-ics svg {
    cursor: pointer;
}

.org-info .footer-ics svg:hover {
    color: var(--main-color);
}

footer .footer-heading {
    font-size: 1.3rem;
    margin: 0 0 1rem;
} 

footer .footer-list div {
    display: flex;
    gap: 5rem;
}

footer ul li {
    margin: 0.5rem 0;
    width: max-content;
}

footer .download-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .download-media .download-btn {
    font-size: 1rem;
    letter-spacing: 3px;
    background: var(--bg-color);
    padding: 1rem 1.5rem;
    margin: 0.5rem 0 0;
    width: max-content;
    height: max-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
}

footer .download-media .download-btn:hover {
    background: var(--gray-color);
}

footer .download-media svg {
    font-size: 2rem;
}